.form-group {
  border-bottom: 1px solid #D3D3D3;

  .col-form-label {
    padding-left: 0;
    padding-right: 0;
  }

  .col-form-input {
    padding-left: 0;
    padding-right: 0;
  }
}

input {
  border: none !important;
  box-shadow: none !important;
}
