.admin-schema {
  .heading {
    background-color: #E3E3E9;
    color: #666666;
  }

  table {
    min-width: 100%;

    .actions {
      width: 1px;
    }
  }
}

.admin-schema-modal {
  color: #666;
  height: 100%;

  .admin-schema-info {
    overflow-y: scroll;
  }

  .header {
    h3 {
      font-size: 16px;
      font-weight: lighter;
      margin: 0;
    }

    .close {
      font-size: 24px;
      font-weight: 300;
    }
  }
}
