.admin-schema {
  .heading {
    background-color: #E3E3E9;
    color: #666666;
  }

  table {
    min-width: 100%;

    .actions {
      width: 1px;
    }
  }
}

.admin-schema-info {

}

.admin-schema-fields {
  .field-container {

  }

  .field {
    background-color: #E3E3E9;
    min-height: 100px;
    position: relative;
    user-select: none;

    .field-label {
      font-size: 16px;
      font-weight: 400;
      margin: 0;
    }

    .field-name {
      font-size: 12px;
      font-weight: lighter;
      margin: 0;
    }

    .field-actions {
      font-size: 18px;
    }

    &.dragging * {
      color: #FFF;
    }
  }
}

.admin-schema-modal {
  color: #666;
  height: 100%;

  .content {
    overflow-y: scroll;
  }

  .header {
    h3 {
      font-size: 16px;
      font-weight: lighter;
      margin: 0;
    }

    .close {
      font-size: 24px;
      font-weight: 300;
    }
  }
}
